<div id="welcome" align="center">
<%= image_tag("p2k.png") %>
<div id="connect" class="ui piled segment">
	<p><strong>P2K</strong> (<i>Pocket to Kindle</i>) delivers your Pocket articles to your Kindle e-reader periodically.</p>
	<p><strong>This is a free software created by <a href="http://emiraydin.com/" target="_blank">Emir Aydin</a></strong>.</p>
</div>
	<a href="/welcome/connect"><div class="ui red big button">Start Delivering!</div></a>
</div>