
<div id="welcome" align="center">
<%= image_tag("p2k.png") %>
<div id="connect" class="ui piled segment">
	<p><strong>P2K</strong> (<i>Pocket to Kindle</i>) is a free service that sends your <a href="https://getpocket.com/" target="_blank">Pocket</a> articles to your <a href="https://kindle.amazon.com/" target="_blank">Kindle</a> e-reader periodically.</p>
	<%= render(:partial => "social") %>
</div>
	<a href="/welcome/connect"><div class="ui red big button">Start Delivering!</div></a>
</div>