#main {
	height: 90%;
}

#home {
	float: left;
	width: 40%;
}

#options {
	padding-left: 4%;
	padding-top: 20px;
	float: left;
	width: 60%;
	height: 100%;
	background: #ffffff;
	font-size: 1.2em;
}

#footer {
	display: block;
	position: absolute;
	clear: both;
	width: 100%;
	padding-top: 2%;
	height: 10%;
	text-align: center;
	background: #333333;
	color: #ffffff;
}