div.ui.steps a.step {
	height: 100px!important;
	padding-top: 30px!important;
}

div.ui.steps a.step div.content div.title {
	font-size: 1.3em!important;
}

div.ui.steps a.step div.content div.description {
	padding-top: 10px!important;
}

.ui.message {
	margin: 0!important;
}