body {
	overflow-x: hidden;
}

%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#welcome {
	// @extend %vertical-align;
}

#p2k-logo {
	margin-top: 30px;
}

#start-button {
	margin-top: -15px;
	margin-bottom: 10px;
}

#connect p {
	font-size: 1.2em;
}

.ui.message {
	margin: 0!important;
}