<!DOCTYPE html>
<html>
<head>
  <title>P2K - Pocket to Kindle: Send Your Pocket Articles to Your Kindle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Send Pocket articles to Kindle, every day, every week or just once." />
  <meta name="keywords" content="pocket, kindle, pocket to kindle, send to kindle, every day, every week, p2k, send pocket, deliver articles, send articles">
  <meta name="author" content="Emir Aydin" />
</head>
<body>