<%= render(:partial => "application/header") %>

<% if not flash[:notice].blank? %>
<div class="ui success message" align="center">
<%= flash[:notice] %>
</div>
<% end %>

<%= yield %>

<%= render(:partial => "application/footer") %>
